body, *, html {
	padding: 0;
	margin: 0;
	outline: 0;
}

.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
.container {
	width: 100%;
	height: 150px;
	background-color: #333;
	position: relative;
}

/* ================== DIVIDER LINE =============================*/
div.divider-line {
	width: 100%;
	height: 2px;
	background-color: darkgreen;
	position: relative;
	margin-top: 15px;
}

/* ================== CLOSE BUTTON 1 ===========================*/

div.close-X {
	width: 50px;
	height: 50px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin: 10px;
}
div.close-X .X-line {
	width: 100%;
	height: 2px;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 0;
	transition: all 0.25s;
	border-radius: 50px;
}
div.close-X .X-line:nth-of-type(1) {
	margin-top: -4px;
}
div.close-X .X-line:nth-of-type(2) {
	margin-top: 4px;
}
div.close-X:hover .X-line:nth-of-type(1) {
	margin: 0;
	transform: rotateZ(45deg);
}
div.close-X:hover .X-line:nth-of-type(2) {
	margin: 0;
	transform: rotateZ(-45deg);
}

/* ==================== CLOSE BUTTON 2 ======================= */

div.close-X2 {
	width: 50px;
	height: 50px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin: 10px;
}
div.close-X2 .X-line-ani {
	width: 100%;
	height: 2px;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 0;
	border-radius: 50px;
}
div.close-X2 .X-line-ani:nth-of-type(1){
	margin-top: -4px;
	transition: all 0.5s;
}
div.close-X2 .X-line-ani:nth-of-type(2){
	margin-top: 4px;
	transition: all 0.3s;
}
div.close-X2:hover .X-line-ani:nth-of-type(1) {
	animation: Xanimation 0.5s ease 0s 1 normal;
	transform: rotateZ(225deg);
	margin: 0;
}
div.close-X2:hover .X-line-ani:nth-of-type(2) {
	animation: Xanimations 0.3s ease 0s 1 normal;
	transform: rotateZ(-45deg);
	margin: 0;
}

/* ==================== BASE CONTAINER ======================= */
.container-2 {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	flex-direction: column;
	perspective: 1000px;
	transform-style: preserve-3d;
}
.margins {
	margin: 50px 0;
}
/* ==================== HOVER EFFECT 1 ======================= */


.hovereffect1 {
	position: relative;
	width: 530px;
	height: 400px;
	cursor: pointer;
}
.hovereffect1 img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: brightness(0.7) contrast(1);
	transition: filter 0.3s;
}
.hovereffect1 .bubble {
	position: absolute;
	left: 140px;
	top: 75px;
	width: 250px;
	height: 250px;
	border: 3px solid white;
	border-radius: 250px;
	background-color: transparent;
	box-sizing: border-box;
	box-shadow: 0px 0px 40px rgba(255,255,255,0.35) inset;
	transform: translate3d(-100px,-100px, 0) scale(0.75);
	opacity: 0;
	filter: alpha(opacity=0);
	transition: all 0.3s;
}
.hovereffect1 .container {
	position: relative;
	text-align: center;
	width: 200px;
	height: 200px;
	background-color: transparent;
	margin: 0 auto;
	box-sizing: border-box;
	border: 2px solid transparent;
	opacity: 0;
	filter: alpha(opacity=100);
	transform: translate3d(100px, 100px, 0) scale(0.75);
	transition: all 0.3s;
}
.hovereffect1 .container h1 {
	color: white;
	font-size: 30px;
	margin-top: 150px;
	font-family: Arial;
}
.hovereffect1 .container p {
	color: white;
	font-size: 18px;
	font-family: Arial;
}

.hovereffect1:hover .bubble,
.hovereffect1:hover .container {
	transform: translate3d(0,0,0) scale(1);
	opacity: 1;
	filter: alpha(opacity=100);
}
.hovereffect1:hover img {
	filter: brightness(1) contrast(1.2);
}

/* =========== HOVER EFFECT 2 =====================*/

.hovereffect2 {
	position: relative;
	width: 530px;
	height: 400px;
	padding: 50px 50px 0 50px;
	box-sizing: border-box;
	cursor: pointer;
}
.hovereffect2 img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: filter 0.3s;
}
.hovereffect2 .container {
	position: relative;
	background-color: transparent;
	text-align: center;
	color: white;
	font-family: Arial;
	transition: all 0.3s;
	transition-delay: 0.2s;
	transform: translateY(100px);
	opacity: 0;
	filter: alpha(opacity=0);
}
.hovereffect2 .line {
	position: relative;
	width: 100%;
	border-top: 3px solid white;
	transform: scaleX(0);
	transition: transform 0.3s;
}
.hovereffect2 .container h1 {
	font-size: 30px;
	margin-top: 70px;
}
.hovereffect2 .container p {
	font-size: 18px;
	margin-top: 20px;
}

.hovereffect2:hover img {
	filter: brightness(0.7);
}
.hovereffect2:hover .line {
	transform: scaleX(1);
}
.hovereffect2:hover .container {
	opacity: 1;
	filter: alpha(opacity=100);
	transform: translateY(0);
}

/* =============== HOVER EFFECT 3 ================ */

.hovereffect3 {
	position: relative;
	width: 530px;
	height: 400px;
	overflow: hidden;
}
.hovereffect3 img.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.2s;
	transform: scale(1.1);
}
.hovereffect3 .line {
	position: absolute;
	width: 150px;
	height: 2px;
	background-color: #fff;
	top: 50%;
	left: 50%;
	margin-top: -1.5px;
	margin-left: -75px;
	transform: scaleX(0);
	transition: transform 0.2s;
}
.hovereffect3 .line:nth-of-type(2) {
	transform: rotateZ(90deg) scaleX(0);
}

.hovereffect3 .imgContainer {
	position: relative;
	width: 50%;
	height: 50%;
	margin: 19% auto 0;
}
.hovereffect3 .imgContainer .imgBtn1,
.hovereffect3 .imgContainer .imgBtn2,
.hovereffect3 .imgContainer .imgBtn3,
.hovereffect3 .imgContainer .imgBtn4 {
	display: block;
	position: absolute;
	width: 50px;
	height: 50px;
	z-index: 2;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	opacity: 0;
	filter: alpha(opacity=0);
	transform: scale(0.8);
	transition: all 0.2s;
}
.hovereffect3 .imgContainer .imgBtn1 /* profile */ {
	margin: -70px 0 0 20px;
	width: 40px;
	transform: translate3d(60px,-60px,0) scale(0.75);
}
.hovereffect3 .imgContainer .imgBtn2 /* home */ {
	margin: -70px 0 0 -65px;
	transform: translate3d(-60px,-60px,0) scale(0.75);
}
.hovereffect3 .imgContainer .imgBtn3 /* settings */ {
	margin: 15px 0 0 15px;
	transform: translate3d(60px,60px,0) scale(0.75);
}
.hovereffect3 .imgContainer .imgBtn4 /* mail */ {
	margin: 22.5px 0 0 -65px;
	height: 35px;
	transform: translate3d(-60px,60px,0) scale(0.75);
}

.hovereffect3:hover .imgContainer .imgBtn1,
.hovereffect3:hover .imgContainer .imgBtn2,
.hovereffect3:hover .imgContainer .imgBtn3,
.hovereffect3:hover .imgContainer .imgBtn4 {
	transform: translate3d(0,0,0) scale(0.8);
	opacity: 1;
	filter: alpha(opacity=100);
}
.hovereffect3 .imgContainer .imgBtn1:hover,
.hovereffect3 .imgContainer .imgBtn2:hover,
.hovereffect3 .imgContainer .imgBtn3:hover,
.hovereffect3 .imgContainer .imgBtn4:hover {
	transform: scale(1);
}
.hovereffect3:hover img.background {
	filter: brightness(0.7) blur(3px);
	transform: scale(1);
}
.hovereffect3:hover .line {
	transform: scaleX(1);
}
.hovereffect3:hover .line:nth-of-type(2) {
	transform: rotateZ(90deg) scaleX(1);
}

/* ============ HOVER EFFECT 4 =================== */

.hovereffect4 {
	position: relative;
	width: 530px;
	height: 400px;
	overflow: hidden;
}
.hovereffect4 img.background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: filter 0.3s;
}
.hovereffect4 .container a {
	display: inline-block;
}
.hovereffect4 .container a img {
	width: 35px;
	height: 35px;
	display: inline-block;
	position: relative;
	margin: 0 10px;
	opacity: 0;
	filter: alpha(opacity=0);
	transition: transform 0.3s;
}

.hovereffect4 .container a img.img3 {
	width: 50px;
}
.hovereffect4 .container {
	margin-top: 180px;
	background-color: transparent;
	text-align: center;
}
.hovereffect4:hover img.background {
	filter: brightness(0.7) blur(2px);
}
.hovereffect4 .container a img:hover {
	transform: scale(1.3);
}

/* ========== HOVEREFFECT 5 ============== */

.hovereffect5 {
	position: relative;
	width: 530px;
	height: 400px;
	overflow: hidden;
	cursor: pointer;
}
.hovereffect5 img.background {
	position: relative;
	width: 100%;
	height: 100%;
	filter: grayscale(1);
	transition: filter 0.3s;
}
.hovereffect5 div.info-box {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background-color: rgba(0,0,0,0.7);
	font-size: 20px;
	font-family: 'Arial', sans-serif;
	color: white;
	text-indent: 25px;
	padding: 5px;
	box-sizing: border-box;
	transform: translate3d(0,80px,0);
	transition: transform 0.3s;
}
.hovereffect5:hover img.background {
	filter: grayscale(0);
}
.hovereffect5:hover div.info-box {
	transform: translate3d(0,0,0);
}

/* ================ HOVER EFFECT 6 ================= */

.hovereffect6 {
	position: relative;
	width: 530px;
	height: 400px;
	overflow: hidden;
	cursor: pointer;
}
.hovereffect6 img.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.hovereffect6 div.info-box {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 20% 25%;
	box-sizing: border-box;
	background-color: rgba(255,255,255,0.5);
	opacity: 0;
	filter: alpha(opacity=0);
	transition: all 0.3s;
}
.hovereffect6 div.info-box p {
	font-size: 23px;
	font-family: 'Arial', sans-serif;
	color: #333;
	transform: scale(2.5);
	opacity: 0;
	filter:alpha(opacity=0);
	transition: all 0.3s;
}
.hovereffect6:hover div.info-box {
	opacity: 1;
	filter:alpha(opacity=100);
	transform: scale(0.92);
}
.hovereffect6:hover div.info-box p {
	opacity: 1;
	filter:alpha(opacity=100);
	transform: scale(0.92);
}

/* ====================== HOVER EFFECT 7 ================= */

.hovereffect7 {
	width: 400px;
	height: 530px;
	perspective: 400px;
}
.hovereffect7 .card {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	overflow: hidden;
	transform-style: preserve-3d;
	transform: rotateX(10deg) rotateY(10deg) skew(5deg,-5deg) scale(0.75);
	transition: 0.4s ease-in;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.hovereffect7 .card .img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url('../images/7.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.hovereffect7 .card .upper {
	width: 100%;
	height: 50%;
	background-color: rgba(0,0,0,0.4);
	position: relative;
	padding: 100px 0px 0;
	transform: translateY(-100%);
}
.hovereffect7 .card .upper h2 {
	text-align: center;
	font-size: 50px;
	transform:  scale(0.3);
	opacity: 0;
}
.hovereffect7 .card .lower p { 
	transform:  scale(0.3);
	opacity: 0;
	text-indent: 15px;
	text-align: center;
}
.hovereffect7 .card .upper h2,
.hovereffect7 .card .lower p {
	transition: 0.5s;
}
.hovereffect7 .card .lower {
	width: 100%;
	height: 50%;
	background-color: rgba(0,0,0,0.4);
	position: relative;
	padding: 10px 50px 0px;
	transform: translateY(100%);
}
.hovereffect7 .card .upper,
.hovereffect7 .card .lower {
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
	transition: 0.7s;
	color: #fff;
	font-weight: bold;
}
.hovereffect7:hover .card {
	transform: rotateX(0deg) rotateY(0deg) skew(0deg,0deg) scale(1);
}
.hovereffect7:hover .card .upper,
.hovereffect7:hover .card .lower {
	transform: translateY(0);
}
.hovereffect7:hover .card .upper h2,
.hovereffect7:hover .card .lower p {
	transform: translateY(0) scale(1);
	opacity: 1;
}


/* ============= HOVER EFFECT 8 ====================== */

.hovereffect8 {
	width: 400px;
	height: 530px;
	cursor: pointer;
}
.hovereffect8 .wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	z-index: 2;
}
.hovereffect8 .wrapper .img {
	width: 100%;
	height: 100%;
	filter: grayscale(1);
	position: relative;
	background-image: url('../images/8.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 0.4s;
}
.hovereffect8 .wrapper h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 50px;
	letter-spacing: 3px;
	text-align: center;
	font-family: 'Arial', sans-serif;
	color: #fff;
	transition: 0.4s;
}
.hovereffect8 .foot {
	width: 100%;
	height: 70px;
	transition: 0.4s;
	background-color: #333;
	transform: translateY(-100%);
	z-index: 1;
}
.hovereffect8 .foot p {
	width: 60%;
	height: 100%;
	font-size: 16px;
	box-sizing: border-box;
	padding: 15px 20px;
	color: #fff;
}
.hovereffect8 .foot div.right {
	width: 40%;
	height: 100%;
	box-sizing: border-box;
	padding-top: 20px;
}
.hovereffect8 .foot div.right button {
	width: 80%;
	height: 60%;
	border: 3px solid #eee;
	background-color: #333;
	box-sizing: border-box;
	border-radius: 50px;
	text-transform: uppercase;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	color: #eee;
	transition: 0.3s;
	cursor: pointer;
}
.hovereffect8 .foot div.right button:hover {
	background-color: #eee;
	color: #333;
}
.hovereffect8:hover .wrapper h2 {
	transform: translate(-50%, -50%) scale(4);
	opacity: 0;
}
.hovereffect8:hover .foot {
	transform: translateY(0);
}
.hovereffect8:hover .wrapper .img {
	filter: grayscale(0);
}